{% extends "accounts/base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center w-100 ml-0">
        <div class="col-sm-6 w-100">
           <h3>Email Sent</h3>
           <p>We've emailed you the instructions for setting your Password. If an account exsist with the email you entered, you should recieve the mail shortly.</p>
           <p>If you don't recieve the mail, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>
</div>
{% endblock content %}